{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container">
{% for product in products %}
    

<div class="card" style="width: 18rem;">
    <img src="{{asset("uploads/"~product.image)}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"> {{ product.name }}</h5>
      <p class="card-text">{{ product.description | raw }}</p>
      <p class="card-text">
        <a href="#" class="stretched-link text-danger" style="position: relative;"><span>Prix:</span> {{ product.price}}</a>
      </p>
      <p class="card-text bg-light" style="transform: rotate(0);">
        <span>stock: </span> {{ product.stock }}
        <form action="{{path("addToCart",{id:product.id})}}">
          <input name="quantity" type="number" value="{{product.quantity}}">1</input>
          <button type="submit">Modifier</button>
        </form>
        <form action="{{path("removeToCart",{id:product.id})}}">
          <button type="submit">Supprimé</button>
        </form>
        <span>quantity: </span> {{product.quantity}}
      </p>
    </div>
  </div>
   <a href="{{path("addToCart",{id:product.id})}}">+</a>
</div>

{% endfor %}

{% endblock %}