{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}

<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://image.shutterstock.com/image-vector/kebab-label-260nw-418110301.jpg" alt="" width="72" height="72">
    <h2>Le bœuf d'abord</h2>
    <p class="lead">
      Riche en vitamines, la viande de bœuf satisfait plus de 75 % des apports recommandés en vitamine B12. Les vitamines présentent dans la viande sont source d’énergie et favorisent la lutte contre le vieillissement.
    </p>
  </div>

  <div class="row">
    <div  class="col-md-8 order-md-1">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Nos Kebab</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
         
      {% for message in app.flashes("success") %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{message}}</strong>  
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      <div class="lesproduits">
      {% for product in products %}

       <div class="card produit" style="width: 18rem;">
          <img src="{{asset("uploads/"~product.image)}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{ product.name }}</h5>
            <p class="card-text">{{ product.description | raw }}</p>
            <p class="card-text">
              <a href="#" class="stretched-link text-danger" style="position: relative;"><span>Prix:</span> {{ product.price}}</a>
            </p>
            <p class="card-text bg-light" style="transform: rotate(0);">
              <span>stock: </span> {{ product.stock }}
            </p>
            <form action="{{path("addToCart",{id:product.id})}}" method= "GET">
            {% if app.session.get("cart")[product.id] is defined %}
                  <input  class="form-control" name="quantity" type="number" class="qty" id="quantity{{product.id}}" value="{{app.session.get("cart")[product.id]}}"></input>
            {% else %}
                  <input class="form-control" name="quantity" type="number" class="qty" id="quantity{{product.id}}" value="1"></input>
            {% endif %}

            <button type="submit" id="{{product.id}}" class="btn btn-primary btn-lg btn-block">ajouter</button>
          </form>
  
        </div>
      </div>
      

        {% endfor %}
      </div>
    </div>

    <div class="col-md-4 order-md-2 mb-4">
      
      <h4 class="mb-3 text-muted"  >Panier
        <a href="{{path('cart')}}" type="button" class="btn btn-primary"  >
          <p class="badge bg-secondary" id="qty" ></p>
          <p id="info"></p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </svg> 
           
          <span id="voir" > </span>
        </a>
        <a href="{{path('vider')}}" id="vider"></a>

      </h4>
       
      <form class="needs-validation" novalidate>
        
        <hr class="mb-4">

        <h4 class="mb-3">Categorie</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
            <label class="custom-control-label" for="credit">Nature</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="debit">kosto</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
            <label class="custom-control-label" for="paypal">big</label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="cc-name">Prix min.</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">exemple: 10</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Prix max.</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
         
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Mettre a jour</button>
      </form>
    </div>
    
  </div>

  
</div>


<style>
  .lesproduits{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    flex-direction: row;
  }
  .produit{
    margin : auto;
    
  }
</style>
<!-- encienne versionn-->

 

  
{% endblock %}